.container {
    text-align: left;
}

.action {
    background-color: red;
}

.horror {
    background-color: darkblue;
}

.crime {
    background-color: darkred;
}

.adventure {
    background-color: greenyellow;
}

.history {
    background-color: darkslategray;
}

.western {
    background-color: saddlebrown;
}


.fantasy {
    background-color: lightseagreen;
}

.sciencefiction {
    background-color: seagreen;
}

.mystery {
    background-color: darkcyan;
}

.war {
    background-color: grey;
}

.drama {
    background-color: lightslategray;
}

.thriller {
    background-color: brown;
}

.documentary {
    background-color: darkolivegreen;
}

.comedy {

    background-color: orange;
}

.family {
    background-color: tomato;
}

.animation {
    background-color: cornflowerblue;
}

.romance {
    background-color: lightcoral;
}

.music {
    background-color: plum;
}

.tvmovie {
    background-color: orangered;
}
