.item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    height: 100vh;
    position: relative;
    backdrop-filter: blur(8px);
    border-radius: 2px;
}

.item_bg {
    column-gap: 50px;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.item img {
    border-radius: 30px;
    max-width: 100%;
    margin-left: 50px;
}

.item a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: darkcyan;
    font-size: 25px;
}


